<div class="p-5 font-windows bg-gray-100 text-gray-900 h-screen">
    <div class="max-w-prose">
        <h1 class="text-4xl mb-4">Admin</h1>


        <div class="space-y-8  ">
            <div class="">
                <a href="#" class="text-lg  hover:underline">Admin</a>
            </div>



        </div>
    </div>
</div>
