<div class="sm:flex w-full max-w-3xl mx-auto">







    <div class="flex-grow">


        <%# Start a Post %>
        <div class="mt-4 mx-auto sm:max-w-lg p-5 pb-3 bg-white sm:rounded-lg border hidden sm:block ">



            <%= live_patch to: Routes.home_index_path(@socket, :new) do %>
            <button type="button"
                class="w-full flex items-center px-6 py-3 border border-gray-300 text-base font-medium rounded-full text-gray-500 bg-white hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                <svg class="-ml-1 mr-3 h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
                    <path fill-rule="evenodd"
                        d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                        clip-rule="evenodd">
                    </path>
                </svg>
                Start a post
            </button>
            <% end %>

            <div class="flex justify-between mt-2">

                <%= live_patch "👥  Start Network", to: Routes.group_index_path(@socket, :new), class: "items-center px-4 py-2 border-gray-300 text-base font-medium rounded-lg text-gray-500 bg-white hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"  %>
                <%= live_patch "📢  Create Ad", to: Routes.home_index_path(@socket, :new_ad), class: "items-center px-4 py-2 border-gray-300 text-base font-medium rounded-lg text-gray-500 bg-white hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"  %>
                <%= live_patch "🗞️  Write Headline", to: Routes.home_index_path(@socket, :new_article), class: "items-center px-4 py-2 border-gray-300 text-base font-medium rounded-lg text-gray-500 bg-white hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"  %>
            </div>
        </div>

        <div class="hidden flow-root mt-2 max-h-72 overflow-y-scroll p-5 bg-white">

            <ul class="-mb-8">
                <%= for activity <- @activities do %>
                <%= live_component @socket, ShlinkedinWeb.ActivityLive.ActivityComponent,
                    id: activity.id,
                    profile: @profile,
                    activity: activity
                 %>
                <% end %>
            </ul>
        </div>




        <%# Featured profiles %>
        <div class="mx-auto p-5 bg-white mt-2 sm:max-w-lg sm:rounded-lg hidden">

            <div class="flex justify-between mb-2">
                <h5 class=" font-bold ">Featured Profiles</h5>
                <%= live_redirect raw("Explore Profiles &rarr;"), to: Routes.users_index_path(@socket, :index), class: "px-2 py-1 text-gray-500 hover:underline text-xs" %>

            </div>

            <div class="grid grid-cols-3 gap-2">
                <%= for profile <- @featured_profiles do %>

                <%= live_component @socket, ShlinkedinWeb.UsersLive.ProfileComponent,
                id: profile.id,
                profile: @profile,
                friend_status: Shlinkedin.Profiles.check_between_friend_status(@profile, profile),
                show_profile: profile
                %>


                <% end %>
            </div>
        </div>

        <%# Featured Groups %>
        <div class="mx-auto p-5 bg-white mt-2 sm:max-w-lg sm:rounded-lg ">

            <div class="flex justify-between mb-2">
                <h5 class=" font-bold ">Featured Networks</h5>
                <%= live_redirect raw("Explore Networks &rarr;"), to: Routes.group_index_path(@socket, :index), class: "px-2 py-1 text-gray-500 hover:underline text-xs" %>


            </div>

            <div class="flex overflow-x-scroll w-full pb-2">
                <%= for group <- @random_groups do %>

                <%= live_component @socket, ShlinkedinWeb.GroupLive.GroupComponent,
                    id: group.id,
                    profile: @profile,
                    member_status: Shlinkedin.Groups.is_member?(@profile, group),
                    group: group
                    %>

                <% end %>

            </div>


        </div>






        <div class="py-1"></div>

        <%# Mobile News %>
        <div class="sm:hidden mx-auto w-screen sm:max-w-lg bg-white sm:rounded-lg border-b">

            <div class="block sm:w-72 w-full">
                <div class="flex justify-between px-5 py-5">
                    <%= live_redirect "ShlinkNews", to: Routes.article_index_path(@socket, :index), class: "font-bold"  %>


                    <%= live_patch "+ Add Headline", to: Routes.home_index_path(@socket, :new_article), class: "text-xs text-green-800 font-semibold bg-green-100 px-2 py-1 rounded-lg hover:bg-green-200"  %>

                </div>
                <div class="space-y-3 px-2" phx-update="append">
                    <%= for a <- @articles do %>
                    <%= live_component @socket, ShlinkedinWeb.ArticleLive.NewsBox,
                    id: "mobile:#{a.id}",
                    profile: @profile,
                    spin: false,
                    article: a %>
                    <% end %>

                </div>
                <div class="p-5 justify-center">

                    <button phx-click="more-headlines"
                        class="mx-auto text-xs text-gray-800 font-semibold bg-gray-100 px-2 py-1 rounded-lg hover:bg-gray-200 flex">

                        <svg class="w-3 h-3 place-self-center mr-2" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z"
                                clip-rule="evenodd"></path>
                        </svg>
                        More Headlines </button>

                </div>
            </div>
        </div>


        <div class="py-1"></div>


        <%# Feed Picker %>
        <div class="mx-auto sm:max-w-lg pl-2 text-gray-500 p-2 text-xs flex justify-between ">

            <div>
                <button phx-click="change-feed" phx-value-feed="all" phx-disable-with="loading..."
                    class="tooltip px-2 py-1 bg-gray-100 rounded-lg hover:bg-gray-200 inline-flex items-center  <%= if @feed_type == "all", do: "bg-blue-100 text-blue-500 font-semibold"%>">
                    <svg class=" mr-1 w-3 h-3 inline-flex" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="tooltip-text -mt-16 mr-32 font-normal">Show all posts
                    </span>

                    All</button>
                <button phx-click="change-feed" phx-value-feed="featured" phx-disable-with="loading..."
                    class="tooltip px-2 py-1 rounded-lg hover:bg-gray-200 inline-flex items-center  <%= if @feed_type == "featured", do: "bg-blue-100 text-blue-500 font-semibold"%>">


                    <svg class="mr-1 w-3 h-3 inline-flex" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M5 2a1 1 0 011 1v1h1a1 1 0 010 2H6v1a1 1 0 01-2 0V6H3a1 1 0 010-2h1V3a1 1 0 011-1zm0 10a1 1 0 011 1v1h1a1 1 0 110 2H6v1a1 1 0 11-2 0v-1H3a1 1 0 110-2h1v-1a1 1 0 011-1zM12 2a1 1 0 01.967.744L14.146 7.2 17.5 9.134a1 1 0 010 1.732l-3.354 1.935-1.18 4.455a1 1 0 01-1.933 0L9.854 12.8 6.5 10.866a1 1 0 010-1.732l3.354-1.935 1.18-4.455A1 1 0 0112 2z"
                            clip-rule="evenodd"></path>
                    </svg>

                    <span class="tooltip-text -mt-16 mr-32 font-normal">Just featured posts
                    </span>
                    Featured
                </button>
                <button phx-click="change-feed" phx-value-feed="friends" phx-disable-with="loading..."
                    class="tooltip px-2 py-1 rounded-lg hover:bg-gray-200 inline-flex items-center  <%= if @feed_type == "friends", do: "bg-blue-100 text-blue-500 font-semibold"%>">

                    <svg class=" mr-1 w-3 h-3 inline-flex" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
                        </path>
                    </svg>

                    <span class="tooltip-text -mt-16 mr-32 font-normal">Just friend's posts
                    </span>
                    Friends
                </button>
            </div>


        </div>

        <%# Posts %>
        <div id="posts" phx-update="<%= @update_action %>" phx-hook="InfiniteScroll" data-page="<%= @page %>"
            class="sm:max-w-lg ">


            <%= for {post, idx} <- Enum.with_index(@posts) do %>

            <%= live_component @socket, ShlinkedinWeb.PostLive.PostComponent,
                id: post.id,
                idx: idx,
                page: @page,
                show_ads: true,
                profile: @profile,
                post: post,
                deleted: post.__meta__.state == :deleted,
                like_map: @like_map,
                comment_like_map: @comment_like_map,
                comment_spin: false,
                show_post_options: false,
                expand_post: false,
                num_show_comments: @num_show_comments,
                return_to: Routes.home_index_path(@socket, :index),
                spin: false  %>


            <% end %>
        </div>
    </div>



    <!-- News  -->
    <div class="hidden sm:block ">
        <div class="block sm:w-72 w-full bg-white border sm:mt-4 rounded-lg border-gray-100 sm:m-4">
            <div class="flex justify-between px-5 py-5">
                <%= live_redirect "ShlinkNews", to: Routes.article_index_path(@socket, :index), class: "font-bold"  %>


                <%= live_patch "+ Add Headline", to: Routes.home_index_path(@socket, :new_article), class: "text-xs text-green-800 font-semibold bg-green-100 px-2 py-1 rounded-lg hover:bg-green-200"  %>

            </div>
            <div class="space-y-3 px-2" phx-update="append">
                <%= for a <- @articles do %>
                <%= live_component @socket, ShlinkedinWeb.ArticleLive.NewsBox,
                    id: a.id,
                    profile: @profile,
                    spin: false,
                    article: a %>
                <% end %>

            </div>
            <div class="p-5 justify-center">
                <button phx-click="more-headlines"
                    class="mx-auto text-xs text-gray-800 font-semibold bg-gray-100 px-2 py-1 rounded-lg hover:bg-gray-200 flex">

                    <svg class="w-3 h-3 place-self-center mr-2" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z"
                            clip-rule="evenodd"></path>
                    </svg>
                    More Headlines </button>



            </div>
        </div>






    </div>








</div>

<%= if @live_action in [:new_comment] do %>
<%= live_modal @socket, ShlinkedinWeb.PostLive.CommentComponent,
    id: :new_comment,
    profile: @profile,
    title: @page_title,
    reply_to: @reply_to,
    post: @post,
    action: @live_action,
    ai_loading: false,
    comment: @comment,
    return_to: Routes.home_index_path(@socket, :index) %>
<% end %>

<%= if @live_action in [:show_likes] do %>
<%= live_modal @socket, ShlinkedinWeb.PostLive.LikeComponent,
    profile: @profile,
    title: @page_title,
    like_map: @like_map,
    action: @live_action,
    grouped_likes:  @grouped_likes,
    return_to: Routes.home_index_path(@socket, :index) %>
<% end %>

<%= if @live_action in [:show_comment_likes] do %>
<%= live_modal @socket, ShlinkedinWeb.PostLive.LikeComponent,
    profile: @profile,
    title: @page_title,
    like_map: @comment_like_map,
    action: @live_action,
    grouped_likes:  @grouped_likes,
    return_to: Routes.home_index_path(@socket, :index) %>
<% end %>

<%= if @live_action in [:new, :edit] do %>
<%= live_modal @socket, ShlinkedinWeb.PostLive.FormComponent,
    profile: @profile,
    id: @post.id || :new,
    title: @page_title,
    action: @live_action,
    post: @post,
    return_to: Routes.home_index_path(@socket, :index) %>
<% end %>

<%= if @live_action in [:new_story, :edit_story] do %>
<%= live_modal @socket, ShlinkedinWeb.StoryLive.FormComponent,
    profile: @profile,
    id: @story.id || :new_story,
    title: @page_title,
    action: @live_action,
    story: @story,
    return_to: Routes.home_index_path(@socket, :index) %>
<% end %>

<%= if @live_action in [:new_article, :edit_article] do %>
<%= live_modal @socket, ShlinkedinWeb.ArticleLive.FormComponent,
    id: @article.id || :new,
    title: @page_title,
    action: @live_action,
    profile: @profile,
    article: @article,
    return_to: Routes.home_index_path(@socket, :index) %>
<% end %>

<%= if @live_action in [:new_ad, :edit_ad] do %>
<%= live_modal @socket, ShlinkedinWeb.AdLive.FormComponent,
    id: @ad.id || :new,
    title: @page_title,
    action: @live_action,
    profile: @profile,
    ad: @ad,
    return_to: Routes.home_index_path(@socket, :index) %>
<% end %>


<%= if @live_action in [:show_votes] do %>
<%= live_modal @socket, ShlinkedinWeb.ArticleLive.VoteComponent,
    profile: @profile,
    title: @page_title,
    article: @article,
    votes:  @votes,
    return_to: Routes.home_index_path(@socket, :index) %>
<% end %>
