<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
        content="initial-scale=1.0, viewport-fit=cover, user-scalable=no" />

    <%= live_title_tag assigns[:page_title] || "LinkedIn Satire with Business Humor, Memes and More | ShlinkedIn.com" %>
    <link phx-track-static rel="stylesheet"
        href="<%= Routes.static_path(@conn, "/css/app.css") %>" />

    <meta property="og:title" content="ShlinkedIn">
    <meta property="og:description"
        content="Tomorrow's Thought Leadership, Today">

    <meta name="description"
        content="ShlinkedIn is a fully-functioning satirical social network poking fun at LinkedIn. Find business humor, jokes, original memes and more.">

    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">

    <%= if @meta_attrs do %>
    <%= meta_tags(@meta_attrs) %>
    <% else %>
    <meta property="og:image"
        content="https://shlinked.s3.amazonaws.com/social.png">
    <meta property="twitter:image"
        content="https://shlinked.s3.amazonaws.com/social.png">

    <% end %>



    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="manifest" href="./manifest.json">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Creepster&family=IBM+Plex+Serif&family=Metal+Mania&family=Permanent+Marker&family=VT323&display=swap"
        rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async
        src="https://www.googletagmanager.com/gtag/js?id=G-WGM0S4FM7Z"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-WGM0S4FM7Z');
    </script>

    <%= if Mix.env() != :dev do %>
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function(e, t) {
            window.heap.appid = e, window.heap.config = t = t || {};
            var r = document.createElement("script");
            r.type = "text/javascript", r.async = !0, r.src =
                "https://cdn.heapanalytics.com/js/heap-" + e + ".js";
            var a = document.getElementsByTagName("script")[0];
            a.parentNode.insertBefore(r, a);
            for (var n = function(e) {
                    return function() {
                        heap.push([e].concat(Array.prototype.slice
                            .call(arguments, 0)))
                    }
                }, p = ["addEventProperties", "addUserProperties",
                    "clearEventProperties", "identify",
                    "resetIdentity", "removeEventProperty",
                    "setEventProperties", "track", "unsetEventProperty"
                ], o = 0; o < p.length; o++) heap[p[o]] = n(p[o])
        };
        heap.load("3187328148");
    </script>

    <script>
        ! function(t, e) {
            var o, n, p, r;
            e.__SV || (window.posthog = e, e._i = [], e.init = function(i, s,
                a) {
                function g(t, e) {
                    var o = e.split(".");
                    2 == o.length && (t = t[o[0]], e = o[1]), t[e] =
                        function() {
                            t.push([e].concat(Array.prototype.slice
                                .call(arguments, 0)))
                        }
                }(p = t.createElement("script")).type =
                    "text/javascript", p.async = !0, p.src = s
                    .api_host + "/static/array.js", (r = t
                        .getElementsByTagName("script")[0]).parentNode
                    .insertBefore(p, r);
                var u = e;
                for (void 0 !== a ? u = e[a] = [] : a = "posthog", u
                    .people = u.people || [], u.toString = function(t) {
                        var e = "posthog";
                        return "posthog" !== a && (e += "." + a), t || (
                            e += " (stub)"), e
                    }, u.people.toString = function() {
                        return u.toString(1) + ".people (stub)"
                    }, o =
                    "capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags"
                    .split(" "), n = 0; n < o.length; n++) g(u, o[n]);
                e._i.push([i, s, a])
            }, e.__SV = 1)
        }(document, window.posthog || []);
        posthog.init('ev50Ivaczj4TRx6dodh-9Wi8UzPY_-pB4zs42K4IvqU', {
            api_host: 'https://app.posthog.com'
        })
    </script>
    <% end %>
    <%= csrf_meta_tag() %>
    <script defer phx-track-static type="text/javascript"
        src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

</head>

<body class="bg-gray-100">
    <header>
        <%= render "_top_nav.html", assigns %>
    </header>



    <div class="pt-16 pb-6">
        <%= @inner_content %>
    </div>

    <%# Bottom footer %>
    <%= if @current_user do %>
    <nav
        class="sm:hidden bg-white border-t text-gray-500 text-base bottom-0 fixed w-full z-10">
        <div class="flex justify-around h-20 items-top space-x-3  text-xs">
            <%= if @profile != nil and @profile != %Shlinkedin.Profiles.Profile{} do %>
            <%= render "_footer_nav.html", assigns %>
            <% end %>
        </div>
    </nav>
    <% end %>

</body>

</html>
