<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <%= live_title_tag assigns[:page_title] || "Shlinkedin" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>

<body class="bg-gray-200">
    <header>
        <nav class="bg-white shadow border-b fixed w-full z-10">
            <div class=" mx-auto px-2 sm:px-4 lg:px-8">
                <div class="flex justify-between h-12">
                    <div class="flex px-2 lg:px-0">
                        <div class="flex-shrink-0 flex items-center">
                            <%= link "ShlinkedIn", to: "/", class: "font-extrabold text-blue-600" %>
                        </div>
                        <div class="hidden lg:ml-6 lg:flex lg:space-x-8">

                        </div>
                    </div>
                    <div class="ml-4 mr-2 flex items-center">
                        <%= render "_user_menu.html", assigns %>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="pt-12">
        <%= @inner_content %>
    </div>
</body>

</html>
