<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0, viewport-fit=cover, user-scalable=no" />
    <%= csrf_meta_tag() %>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <%= live_title_tag assigns[:page_title] || "Shlinkedin" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Creepster&family=IBM+Plex+Serif&family=Metal+Mania&family=Permanent+Marker&family=VT323&display=swap"
        rel="stylesheet">




    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) {
            window.heap.appid = e, window.heap.config = t = t || {};
            var r = document.createElement("script");
            r.type = "text/javascript", r.async = !0, r.src = "https://cdn.heapanalytics.com/js/heap-" + e + ".js";
            var a = document.getElementsByTagName("script")[0];
            a.parentNode.insertBefore(r, a);
            for (var n = function (e) {
                    return function () {
                        heap.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                    }
                }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify",
                    "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"
                ], o = 0; o < p.length; o++) heap[p[o]] = n(p[o])
        };
        heap.load("3187328148");
    </script>
</head>

<body class="bg-gray-100">
    <header>
        <%= render "_top_nav.html", assigns %>
    </header>

    <div class="pt-16 pb-6">
        <%= @inner_content %>
    </div>

    <header>
        <nav class="sm:hidden bg-white border-t text-gray-500 text-base bottom-0 fixed w-full z-10">
            <div class="flex justify-around h-16 items-top   text-xs">
                <%= if @profile != nil and @profile != %Shlinkedin.Profiles.Profile{} do %>
                <%= render "_footer_nav.html", assigns %>
                <% end %>
            </div>
        </nav>
    </header>
</body>

</html>
