  <div class="mt-16">
      <%= live_component @socket, ShlinkedinWeb.PostLive.PostComponent,
        id: @post.id,
        profile: @profile,
        post: @post,
        deleted: false, # hard coding
        show_like_options: false,
        show_post_options: false,
        like_map: @like_map,
        comment_spin: false,
        spin: false  %>
  </div>
