<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "ad-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <%= label f, :body %>
  <%= textarea f, :body %>
  <%= error_tag f, :body %>

  <%= label f, :media_url %>
  <%= text_input f, :media_url %>
  <%= error_tag f, :media_url %>

  <%= label f, :slug %>
  <%= text_input f, :slug %>
  <%= error_tag f, :slug %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
