# test:
# A job to run your tests, linters, etc

name: deploy
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: mix test

  deploy-app:
    needs: test # Will only run if the test job succeeds
    if: github.ref == 'refs/heads/main' # Only run this job if it is on the main branch

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: main # Check out main instead of the latest commit
          fetch-depth: 0 # Checkout the whole branch

      - uses: actions/setup-python@v2
        with:
          python-version: 3.8.1

      - uses: mhanberg/gigalixir-action@v0.6.1
        with:
          GIGALIXIR_APP: shlinkedin
          GIGALIXIR_USERNAME: ${{ secrets.GIGALIXIR_USERNAME }}
          GIGALIXIR_PASSWORD: ${{ secrets.GIGALIXIR_PASSWORD }}
          MIGRATIONS: true # defaults to true
          SSH_PRIVATE_KEY: ${{ secrets.GIGALIXIR_KEY }}
