<div class="p-10 bg-blue-100">
    <h3 class="text-4xl tracking-tight font-extrabold text-blue-500">
        <%= @profile.persona_name %>
    </h3>
    <p class="mt-1 text-sm text-blue-500 font-bold">
        <%= @profile.persona_title %>
    </p>
</div>
